<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder" routerLink="/">
            <img src="https://t3.ftcdn.net/jpg/01/36/29/28/360_F_136292850_Jv9Vtxyargq6AMBst4kbST3nQ4gixiq6.jpg"
                alt="no img" height="60px">
            E Kart
        </a>
        <div class="d-flex ms-auto">
            <button class="btn btn-outline-dark" type="button" routerLink="/cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <sup class="ms-2">{{count}}</sup>
            </button>
        </div>
    </div>
</nav>