<footer class="container-fluid row py-3">
    <div class="col-md-4">
        <a class="navbar-brand fw-bolder">
            <img src="https://t3.ftcdn.net/jpg/01/36/29/28/360_F_136292850_Jv9Vtxyargq6AMBst4kbST3nQ4gixiq6.jpg" alt="no img" height="100px">
            E Kart
        </a>
    </div>
    <div class="col-md-4">
        <h3>Technologies</h3>
        <ul>
            <li>Angular</li>
            <li>Bootstrap</li>
            <li>Fake Store</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Follow us on</h3>
        <div class="d-flex justify-content-evenly mt-4">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>
