<div class="container-fluid row bg-warning pt-5">
    <div class="p-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card shadow" style="width: 100%;">
            <img src="" class="card-img-top" alt="no img">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="p-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card shadow" style="width: 100%;">
            <img src="" class="card-img-top" alt="no img">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="p-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card shadow" style="width: 100%;">
            <img src="" class="card-img-top" alt="no img">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="p-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card shadow" style="width: 100%;">
            <img src="" class="card-img-top" alt="no img">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="p-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card shadow" style="width: 100%;">
            <img src="" class="card-img-top" alt="no img">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="p-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card shadow" style="width: 100%;">
            <img src="" class="card-img-top" alt="no img">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
<div class="container-fluid d-flex py-5 justify-content-center bg-warning">
    <button class='btn btn-danger' routerLink="/" type="button">Add More Items <i class="fa-solid fa-plus ms-2"></i></button>
</div>
